.form_wrapper {
    padding: 20px; /* Add padding to the form wrapper */
    border-radius: 10px; /* Add border radius for rounded corners */
}

@media (max-width: 575px) {
    .form_wrap h2 {
        font-size: 24px;
    }

    .form_wrap ul {
        font-size: 14px;
    }

    .form_wrap p {
        font-size: 14px;
    }

    .form_wrap label {
        font-size: 14px;
    }

    .input_info,
    .textarea_info {
        font-size: 14px;
    }

    .make_btn {
        font-size: 14px;
    }
}
